.categoria{
  background:#7b2cbf;
  color:white;
  padding:40px;
  text-align:center;
  font-size:22px;
  border-radius:12px;
  text-decoration:none;
  font-weight:bold;
}

.categoria:hover{
  background:#5a189a;
}
